---
http_interactions:
- request:
    method: get
    uri: https://api.ethermine.org/miner/{addr}/currentStats
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"17b-DwPQ+fms7TA8sauPKTqBsLM2fIg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","data":{"time":1542588600,"lastSeen":1542588562,"reportedHashrate":0,"currentHashrate":293666666.6666667,"validShares":263,"invalidShares":0,"staleShares":2,"averageHashrate":275731284.47596514,"activeWorkers":2,"unpaid":18858911487957810,"unconfirmed":null,"coinsPerMin":0.000015241381661542707,"usdPerMin":0.0026872080007465946,"btcPerMin":4.801035223385953e-7}}'
  recorded_at: Mon, 19 Nov 2018 00:56:24 GMT
recorded_with: VCR 4.0.0
