---
http_interactions:
- request:
    method: get
    uri: https://api.ethermine.org/miner/{addr}/currentStats
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"17a-XJM2AwhsTF8TeSAjfi+1TDWV6OY"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","data":{"time":1542587400,"lastSeen":1542587343,"reportedHashrate":0,"currentHashrate":300333333.3333334,"validShares":269,"invalidShares":0,"staleShares":2,"averageHashrate":275683609.1410558,"activeWorkers":2,"unpaid":18519672605767280,"unconfirmed":null,"coinsPerMin":0.000015207836320050263,"usdPerMin":0.0026823581701304654,"btcPerMin":4.795030791711848e-7}}'
  recorded_at: Mon, 19 Nov 2018 00:37:13 GMT
recorded_with: VCR 4.0.0
