<h1>MineWatch Worker Alert</h1>

<span><%= @worker_diff %></span>

<p>There appears to be a problem with one or more of your workers. Please investigate workers directly</p>

<footer><%= @footer_timestamp %></footer>
